<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" >
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <meta charset="UTF-8">
    <title>List Product</title>
</head>
<body>
    <div class="container">
        <div th:replace="fragments/header :: header"></div>
        <div class="card">
            <div class="card-header" style="border: 1px solid black ; border-bottom: none">
                <span style="font-weight: bold">List Product</span>
                <a class="btn btn-primary btn-sm float-end" th:href="@{/products/create}" style="background-color: purple">Create New Product</a>
            </div>
            <div class="card-body" style="border: 1px solid black">
                <div class="container">
                    <div class="row pt-3" >
                        <div class="col-12">
                            <table class="table table-bordered table-hover " style="border: 1px solid black">
                                <thead>
                                <th>ID</th>
                                <th>Category</th>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Barcode</th>
                                <th>Cost</th>
                                <th>Price</th>
                                <th>Qty On Head</th>
                                <th>Description</th>
                                <th>Stock Type</th>
                                <th>Status</th>
                                <th>Action</th>
                                </thead>
                                <tbody>
                                <tr th:each="product:${products}">
                                    <td th:text="${product.id}">ID</td>
                                    <td th:text="${product.category.name}">ID</td>
                                    <td th:text="${product.name}">ID</td>
                                    <td th:text="${product.code}">Name</td>
                                    <td th:text="${product.barcode}">Name</td>
                                    <td th:text="${product.cost}">Name</td>
                                    <td th:text="${product.price}">Name</td>
                                    <td th:text="${product.qty}">Name</td>
                                    <td th:text="${product.description}">Name</td>
                                    <td th:text="${product.stockType}">Name</td>
                                    <td >
                                        <span style="color: deeppink !important;" th:if="${product.status=='ACT'}">Active</span>
                                        <span style="color: red !important;" th:if="${product.status=='DEL'}">Delete</span>
                                        <span style="color: orangered !important;" th:if="${product.status=='DSL'}">Disable</span>
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-primary" th:href="@{'/products/edit/'+${product.id}}" style="border-radius: 50%">Edit</a>
                                        <a class="btn btn-sm btn-danger" th:href="@{'/products/delete/'+${product.id}}" style="border-radius: 50%">Delete</a>
                                        <a class="btn btn-sm btn-dark" th:href="@{'/products/disable/'+${product.id}}" style="border-radius: 50%; background-color: orangered">Disable</a>
                                        <a class="btn btn-sm" th:href="@{'/products/active/'+${product.id}}" style=" color: white;background-color: deeppink">Active</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="container">
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</body>
</html>

