<div th:fragment="footer" class="footer" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="container">
    <span class="text-muted">Build Bright University @R507(B) (2022-->2024)</span>
  </div>
</div>