<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" >
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <meta charset="UTF-8">
    <title>Create Category</title>
</head>
<body>
 <div class="container">
            <div th:replace="fragments/header :: header"></div>
     <div class="row">
         <div class="col-md-12">
             <nav aria-label="breadcrumb" class="float-end">
                 <ol class="breadcrumb">
                     <li class="breadcrumb-item"><a th:href="@{/categories}">List Categories</a></li>
                     <li th:if="${category.id == 0}" class="breadcrumb-item active" aria-current="page">New Category</li>
                     <li th:if="${category.id != 0}" class="breadcrumb-item active" aria-current="page">Update Category</li>
                 </ol>
             </nav>
         </div>
     </div>
            <div class="card">
                <div class="card-header" style="border: 1px solid black;font-weight: bold">
                    <span th:if="${category.id == 0}">Create Category</span>
                    <span th:if="${category.id != 0}">Update Category</span>
                </div>
                <div class="card-body" style="border: 1px solid black">
                    <form th:action="@{/categories/create}" method="post" th:object="${category}">
                        <input th:field="*{id}"  hidden>
                        <div class="col-m3">
                            <label style="font-weight: bold"> Category Name</label>
                            <input class="form-control" th:field="*{name}" type="text" placeholder="Category Name" style="border: 1px solid black">
                        </div>
                        <div class="col-m3">
                            <label style="font-weight: bold"> Select Status</label>
                                <select class="form-control" th:field="*{status}" style="border: 1px solid black">
                                    <option th:each="status : ${category.getStatuslist()}"
                                            th:text="${status.value}"
                                            th:value="${status.key}"
                                    ></option>
                                </select>
                        </div>

                        <button th:if="${category.id == 0}" class="btn btn-primary btn-sm mt-2" style="background-color: purple">Create</button>
                        <button th:if="${category.id != 0}" class="btn btn-primary btn-sm mt-2"  style="background-color: purple">Update</button>


                    </form>
                </div>

            </div>

        </div>
</body>
</html>