<!DOCTYPE html>
<html lang="en">
<head>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" >
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <meta charset="UTF-8">
    <title>List Category</title>
</head>
<body>
    <div class="container">
        <div th:replace="fragments/header :: header" style="border-color: #0dcaf0"></div>
        <div class="card" style="border-color: #6a1a21 ; border-style: double dot-dash">
            <div class="card-header">
                <span style="font-weight: bold">List Category</span>
                <a class="btn btn-primary btn-sm float-end" th:href="@{/categories/create}" style="background-color: purple">Create New Category</a>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row pt-3">
                        <div class="col-12">
                            <table class="table table-bordered table-hover " style="border: 1px solid black">
                                <thead>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Action</th>
                                </thead>
                                <tbody>
                                <tr th:each="category:${categories}">
                                    <td th:text="${category.id}">ID</td>
                                    <td th:text="${category.name}">Name</td>
                                    <td >
                                        <span style="color: deeppink !important;" th:if="${category.status=='ACT'}">Active</span>
                                        <span style="color: red !important;" th:if="${category.status=='DEL'}">Delete</span>
                                        <span style="color: orangered !important;" th:if="${category.status=='DSL'}">Disable</span>
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-primary" th:href="@{'/categories/edit/'+${category.id}}" style="border-radius: 50%;">Edit</a>
                                        <a class="btn btn-sm btn-danger" th:href="@{'/categories/delete/'+${category.id}}" style="border-radius: 50%">Delete</a>
                                        <a class="btn btn-sm btn-dark" th:href="@{'/categories/disable/'+${category.id}}" style="border-radius: 50%; background-color: orangered">Disable</a>
                                        <a class="btn btn-sm " style=" color: white;background-color: deeppink" th:href="@{'/categories/active/'+${category.id}}" >Active</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="container">
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</body>
</html>

