<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}" lang="en">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body style="background-color:#e6dbb9 ">
        <div class="container">
            <div th:replace="fragments/header :: header"></div>
        </div>

        <div class="container">
            <div th:replace="fragments/footer :: footer"></div>
        </div>
</body>
</html>